<ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12">
        <div class="header-container only-mobil">
            <h2>Productos sin exhibir</h2>
        </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
        <mt-select id='cbo1' [data]="cboArea" (selectdOption)="onChangeSelect($event)" label="Seleccione un Area"
            title="Departamento"></mt-select>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2">
        <mt-select id='cbo2' [data]="cboArea_2" (selectdOption)="onChangeSelect($event)" label="Seleccione un Area"
            title="Departamento"></mt-select>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="1" sizeLg="1" style="justify-content: center;align-items: center;display: flex;">
        <button mat-raised-button class="btn-excel-upload" (click)="onProcessDiff()">
            <span>Procesar</span>
        </button>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="2" sizeLg="2" style="justify-content: center;align-items: center;display: flex;">
        <button mat-raised-button class=" btn-excel" (click)="exportarExcel()">
            <mat-icon>file_download</mat-icon>
            <span>Exportar Excel</span>
            <span class="record-count">{{ dataProcess.length | number }} items</span>
        </button>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <mt-datatable [dataIn]="dataProcess" [dataColumnsIn]="dataColumns"
            [extraColumns]="displayedColumns"></mt-datatable>
    </ion-col>
</ion-row>