.status-badge {
    padding: 8px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    display: inline-block;

    &.online {
        background: #d4edda;
        color: #155724;
    }

    &.offline {
        background: #f8d7da;
        color: #721c24;
    }
}

.scanner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .video-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;

        video {
            width: 100%;
            height: auto;
        }

        .scanner-guide {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 260px;
            height: 160px;
            border: 3px solid #00ff00;
            border-radius: 12px;
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
        }
    }
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; // Esto ayuda a que no se estire la imagen
}

.content-pocket {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

//INPUT

.search-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 10px;
    min-height: auto; // Quita el mínimo de 48px de Ionic

    ion-input {
        // Altura total del contenedor
        height: 38.98px;
        min-height: 38.98px !important;

        // Colores y Borde
        --border-color: #3b82f6;
        --border-radius: 4px;
        --border-width: 1px;

        // Ajuste de paddings internos para que el texto no se corte
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 10px;

        font-size: 14px; // Un poco más pequeño para que quepa en 38px

        // Estilo del Label (El texto de arriba)
        .label-text-wrapper {
            transform: translateY(-8px) scale(0.8); // Ajusta la posición del label flotante
            color: #3b82f6 !important;
            background: white; // Para que tape la línea del borde si es necesario
            padding: 0 4px;
            
        }

        // Ajuste del contenedor de entrada nativo
        .native-wrapper {
            align-items: center;
            height: 100%;
        }
    }
}

// Reset para que el item no fuerce alturas de lista
ion-item.search-item::part(native) {
    padding: 0;
    height: 38.98px;
}