.mantenimiento-container {
    padding: 20px;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

ion-alert.custom-alert-inventory {
    z-index: 99999999999999999999 !important;
}