<ion-row>
    <ion-col>
        <div class="selector-container">
            <ion-item lines="none" class="custom-item">
                <ion-select label-placement="stacked" interface="alert"
                    [interfaceOptions]="customAlertOptions" toggleIcon="chevron-down-outline"
                    placeholder="Seleccione una sucursal" (ionChange)="onSelectedOption($event)">

                    @for (tienda of data; track tienda.value) {
                    <ion-select-option [value]="tienda">
                        {{ tienda.value }}
                    </ion-select-option>
                    }
                </ion-select>
            </ion-item>
        </div>
    </ion-col>
</ion-row>