<ion-content class="login-bg">
  <div class="flex-center">
    
    <ion-card class="login-card">
      <ion-grid class="ion-no-padding">
        <ion-row>
          
          <ion-col size="12" size-md="6" class="form-col">
            <div class="form-wrapper">
              
              <h1 class="title">Login</h1>

              <form>
                <div class="input-group">
                  <ion-label class="custom-label">Username or email</ion-label>
                  <ion-item lines="none" class="custom-input">
                    <ion-input type="text" placeholder=""></ion-input>
                  </ion-item>
                </div>

                <div class="input-group">
                  <div class="label-split">
                    <ion-label class="custom-label">Password</ion-label>
                    <a href="#" class="forgot-link">Forgot password?</a>
                  </div>
                  <ion-item lines="none" class="custom-input">
                    <ion-input [type]="showPassword ? 'text' : 'password'"></ion-input>
                    <ion-icon 
                      slot="end" 
                      [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                      (click)="togglePassword()"
                      class="password-icon">
                    </ion-icon>
                  </ion-item>
                </div>

                <div class="remember-container">
                  <ion-checkbox mode="md">Remember me</ion-checkbox>
                </div>

                <ion-button expand="block" class="login-btn" mode="ios">
                  Login
                </ion-button>

                <p class="signup-text">
                  Don't have an account? <a href="#">Sign up</a>
                </p>

              </form>
            </div>
          </ion-col>

          <ion-col size="12" size-md="6" class="image-col ion-hide-md-down">
            <div class="image-content">
              <img src="../../../assets/logo_almacen.png"  class="app-logo"/>
              
              <h3>Metas Perú Inventario</h3>
              
              <div class="slider-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>